@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: mukta, sans-serif;
    font-weight: 300;
    color: #3b3b3b;
}

/* heading and logo */

h1, h2 {
    font-family: ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: chocolate;
}

#logo {
    float: left;
    font-size: 300%;
}

#menu {
    font-size: 110%;
    line-height: 250px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: chocolate;
}

#menu a:hover {
    border-bottom: 1px solid orange;
}

.active {
    border-bottom: 1px solid orange;
}