/* @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Ubuntu&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Ubuntu:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: mukta, sans-serif;
    color: #3b3b3b;
}

/* HEADING STYLE */
h1, h2, h3, h4 {
    font-family: ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: chocolate;
}
/* END OF HEADING STYLE */

/* PARAGRAPH STYLE */
p {
    color: chocolate;
}
/* END OF PARAGRAPH STYLE */

/* HORIZONTAL LINE STYLE - Reference from https://www.w3schools.com/howto/howto_css_style_hr.asp */
hr {
    border: 2px solid chocolate;
    margin: 0;
}
/* END OF HORIZONTAL LINE STYLE */

/* NAVIGATION STYLE - Reference from https://devcom.w3schools.com/css/css_navbar_horizontal.asp */
#logo {
    float: left;
    margin-left: 40px;
    font-size: 300%;
    margin: 0;
    padding-left: 15px;
    color: whitesmoke;
}

#menu {
    font-size: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(210, 105, 30, 0.8)
}

#menu li {
    float: right;
  }
  
#menu li a {
    display: block;
    color: whitesmoke;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
}

#menu li a:hover {
    background-color: peru;
    color: black;
}

#santa_cesarea {
	background-image: url('../images/santa_cesarea.jpeg');
	min-height: 300px;
	max-width: 100%;
	height: auto;
	background-position-y: -1cm;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
/* END OF NAVIGATION STYLE */

/* SECTION HOME */
/* reference W3School: https://www.w3schools.com/css/css_align.asp */
#salento_div {
    margin: auto;
    text-align: center;
    font-size: 20px;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* END OF SECTION HOME */

/* SECTION SALENTO'S LIFE */
/* here I am fixing the section height to a fix value of 600px */
#salento_life {
    height: 600px;
}

.salento_life_h2 {
    text-align: center;
}

#salento_life_left {
    width: 33%;
    float: left;
    padding-top: 10px;
    background-color: chocolate;
    border-radius: 8px;
}

#salento_life_left > h3 {
    color: whitesmoke;
    text-align: center;
}

#salento_life_left > p {
    color: whitesmoke;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

#salento_life_center {
    width: 33%;
    margin: 0 auto;
    padding-top: 10px;
}

#salento_life_center > h3 {
    text-align: center;
}

#salento_life_center > p {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

/* BORDER RADIUS - REFERENCE https://www.w3schools.com/css/css3_borders.asp */
#salento_life_right {
    width: 33%;
    float: right;
    padding-top: 10px;
    background-color: chocolate;
    border-radius: 8px;
}

#salento_life_right > h3 {
    color: whitesmoke;
    text-align: center;
}

#salento_life_right > p {
    color: whitesmoke;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
/*END OF SECTION SALENTO'S LIFE */

/* SECTION MUST SEE */

.clear {
    clear: both;
}

/* FANCYBOX REFERENCE https://www.freecodecamp.org/news/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c/ */
#gallery {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
	grid-template-columns: repeat(8, 1fr);
	-ms-grid-rows: 5vw 10px 5vw 10px 5vw 10px 5vw 10px 5vw 10px 5vw 10px 5vw 10px 5vw;
	grid-template-rows: repeat(8, 5vw);
	grid-gap: 10px;
	margin-top: 10px;
}

#gallery>*:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

#gallery>*:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

#gallery>*:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}

#gallery>*:nth-child(4) {
	-ms-grid-row: 1;
	-ms-grid-column: 7;
}

#gallery>*:nth-child(5) {
	-ms-grid-row: 1;
	-ms-grid-column: 9;
}

#gallery>*:nth-child(6) {
	-ms-grid-row: 1;
	-ms-grid-column: 11;
}

#gallery>*:nth-child(7) {
	-ms-grid-row: 1;
	-ms-grid-column: 13;
}

#gallery>*:nth-child(8) {
	-ms-grid-row: 1;
	-ms-grid-column: 15;
}

#gallery>*:nth-child(9) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

#gallery>*:nth-child(10) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}

#gallery>*:nth-child(11) {
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}

#gallery>*:nth-child(12) {
	-ms-grid-row: 3;
	-ms-grid-column: 7;
}

#gallery>*:nth-child(13) {
	-ms-grid-row: 3;
	-ms-grid-column: 9;
}

#gallery>*:nth-child(14) {
	-ms-grid-row: 3;
	-ms-grid-column: 11;
}

#gallery>*:nth-child(15) {
	-ms-grid-row: 3;
	-ms-grid-column: 13;
}

#gallery>*:nth-child(16) {
	-ms-grid-row: 3;
	-ms-grid-column: 15;
}

#gallery>*:nth-child(17) {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
}

#gallery>*:nth-child(18) {
	-ms-grid-row: 5;
	-ms-grid-column: 3;
}

#gallery>*:nth-child(19) {
	-ms-grid-row: 5;
	-ms-grid-column: 5;
}

#gallery>*:nth-child(20) {
	-ms-grid-row: 5;
	-ms-grid-column: 7;
}

#gallery>*:nth-child(21) {
	-ms-grid-row: 5;
	-ms-grid-column: 9;
}

#gallery>*:nth-child(22) {
	-ms-grid-row: 5;
	-ms-grid-column: 11;
}

#gallery>*:nth-child(23) {
	-ms-grid-row: 5;
	-ms-grid-column: 13;
}

#gallery>*:nth-child(24) {
	-ms-grid-row: 5;
	-ms-grid-column: 15;
}

#gallery>*:nth-child(25) {
	-ms-grid-row: 7;
	-ms-grid-column: 1;
}

#gallery>*:nth-child(26) {
	-ms-grid-row: 7;
	-ms-grid-column: 3;
}

#gallery>*:nth-child(27) {
	-ms-grid-row: 7;
	-ms-grid-column: 5;
}

#gallery>*:nth-child(28) {
	-ms-grid-row: 7;
	-ms-grid-column: 7;
}

#gallery>*:nth-child(29) {
	-ms-grid-row: 7;
	-ms-grid-column: 9;
}

#gallery>*:nth-child(30) {
	-ms-grid-row: 7;
	-ms-grid-column: 11;
}

#gallery>*:nth-child(31) {
	-ms-grid-row: 7;
	-ms-grid-column: 13;
}

#gallery>*:nth-child(32) {
	-ms-grid-row: 7;
	-ms-grid-column: 15;
}

#gallery>*:nth-child(33) {
	-ms-grid-row: 9;
	-ms-grid-column: 1;
}

#gallery>*:nth-child(34) {
	-ms-grid-row: 9;
	-ms-grid-column: 3;
}

#gallery>*:nth-child(35) {
	-ms-grid-row: 9;
	-ms-grid-column: 5;
}

#gallery>*:nth-child(36) {
	-ms-grid-row: 9;
	-ms-grid-column: 7;
}

#gallery>*:nth-child(37) {
	-ms-grid-row: 9;
	-ms-grid-column: 9;
}

#gallery>*:nth-child(38) {
	-ms-grid-row: 9;
	-ms-grid-column: 11;
}

#gallery>*:nth-child(39) {
	-ms-grid-row: 9;
	-ms-grid-column: 13;
}

#gallery>*:nth-child(40) {
	-ms-grid-row: 9;
	-ms-grid-column: 15;
}

#gallery>*:nth-child(41) {
	-ms-grid-row: 11;
	-ms-grid-column: 1;
}

#gallery>*:nth-child(42) {
	-ms-grid-row: 11;
	-ms-grid-column: 3;
}

#gallery>*:nth-child(43) {
	-ms-grid-row: 11;
	-ms-grid-column: 5;
}

#gallery>*:nth-child(44) {
	-ms-grid-row: 11;
	-ms-grid-column: 7;
}

#gallery>*:nth-child(45) {
	-ms-grid-row: 11;
	-ms-grid-column: 9;
}

#gallery>*:nth-child(46) {
	-ms-grid-row: 11;
	-ms-grid-column: 11;
}

#gallery>*:nth-child(47) {
	-ms-grid-row: 11;
	-ms-grid-column: 13;
}

#gallery>*:nth-child(48) {
	-ms-grid-row: 11;
	-ms-grid-column: 15;
}

#gallery>*:nth-child(49) {
	-ms-grid-row: 13;
	-ms-grid-column: 1;
}

#gallery>*:nth-child(50) {
	-ms-grid-row: 13;
	-ms-grid-column: 3;
}

#gallery>*:nth-child(51) {
	-ms-grid-row: 13;
	-ms-grid-column: 5;
}

#gallery>*:nth-child(52) {
	-ms-grid-row: 13;
	-ms-grid-column: 7;
}

#gallery>*:nth-child(53) {
	-ms-grid-row: 13;
	-ms-grid-column: 9;
}

#gallery>*:nth-child(54) {
	-ms-grid-row: 13;
	-ms-grid-column: 11;
}

#gallery>*:nth-child(55) {
	-ms-grid-row: 13;
	-ms-grid-column: 13;
}

#gallery>*:nth-child(56) {
	-ms-grid-row: 13;
	-ms-grid-column: 15;
}

#gallery>*:nth-child(57) {
	-ms-grid-row: 15;
	-ms-grid-column: 1;
}

#gallery>*:nth-child(58) {
	-ms-grid-row: 15;
	-ms-grid-column: 3;
}

#gallery>*:nth-child(59) {
	-ms-grid-row: 15;
	-ms-grid-column: 5;
}

#gallery>*:nth-child(60) {
	-ms-grid-row: 15;
	-ms-grid-column: 7;
}

#gallery>*:nth-child(61) {
	-ms-grid-row: 15;
	-ms-grid-column: 9;
}

#gallery>*:nth-child(62) {
	-ms-grid-row: 15;
	-ms-grid-column: 11;
}

#gallery>*:nth-child(63) {
	-ms-grid-row: 15;
	-ms-grid-column: 13;
}

#gallery>*:nth-child(64) {
	-ms-grid-row: 15;
	-ms-grid-column: 15;
}

.fancybox-photo {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	display: block;
}

#gallery__item--1 {
	-ms-grid-column: 1;
	grid-column-start: 1;
	-ms-grid-column-span: 2;
	grid-column-end: 3;
	-ms-grid-row: 1;
	grid-row-start: 1;
	-ms-grid-row-span: 3;
	grid-row-end: 4;
}

#gallery__item--2 {
	-ms-grid-column: 5;
	grid-column-start: 5;
	-ms-grid-column-span: 2;
	grid-column-end: 7;
	-ms-grid-row: 4;
	grid-row-start: 4;
	-ms-grid-row-span: 3;
	grid-row-end: 7;
}

#gallery__item--3 {
	-ms-grid-column: 5;
	grid-column-start: 5;
	-ms-grid-column-span: 4;
	grid-column-end: 9;
	-ms-grid-row: 1;
	grid-row-start: 1;
	-ms-grid-row-span: 3;
	grid-row-end: 4;
}

#gallery__item--4 {
	-ms-grid-column: 7;
	grid-column-start: 7;
	-ms-grid-column-span: 2;
	grid-column-end: 9;
	-ms-grid-row: 4;
	grid-row-start: 4;
	-ms-grid-row-span: 5;
	grid-row-end: 9;
}

#gallery__item--5 {
	-ms-grid-column: 1;
	grid-column-start: 1;
	-ms-grid-column-span: 4;
	grid-column-end: 5;
	-ms-grid-row: 4;
	grid-row-start: 4;
	-ms-grid-row-span: 5;
	grid-row-end: 9;
}

#gallery__item--6 {
	-ms-grid-column: 5;
	grid-column-start: 5;
	-ms-grid-column-span: 2;
	grid-column-end: 7;
	-ms-grid-row: 7;
	grid-row-start: 7;
	-ms-grid-row-span: 2;
	grid-row-end: 9;
}

#gallery__item--7 {
	-ms-grid-column: 3;
	grid-column-start: 3;
	-ms-grid-column-span: 2;
	grid-column-end: 5;
	-ms-grid-row: 1;
	grid-row-start: 1;
	-ms-grid-row-span: 3;
	grid-row-end: 4;
}

/* END OF SECTION MUST SEE */

/* SECTION CONTACT ME */
/* END OF SECTION CONTACT ME */

/* FOOTER STYLE */
.footer {
    width: 100%;
    background-color: chocolate;
    position: absolute;
    text-align: center;
}

.social-networks li {
    list-style-type: none;
    display: inline;
    padding: 5%;
}

.social-networks li a {
    color: whitesmoke;
    font-size: 30px;
}
/*END OF FOOTER STYLE */